<li class="media">
    <a class="pull-left" href="./<%= @profile_data[0][0] %>.html">
        <img class="img-responsive media-object" src="/international/images/student-global-perspectives/<%= @profile_data[0][0] %>.jpg" alt="Photo of <%= @profile_data[0][1] %>">
    </a>
    <div class="media-body">
        <h3 class="media-heading"><a href="./<%= @profile_data[0][0] %>.html"><%= @profile_data[0][1] %></a></h3>
        <span>
        <p><strong><%= @profile_data[0][2] %>:</strong> <%= @profile_data[0][3] %></p>
        <p><strong>Major:</strong> <%= @profile_data[0][4] %></p>
        <p><strong>Graduation Year:</strong> <%= @profile_data[0][5] %></p>
    </span>
    </div>
</li>
